<!DOCTYPE html>
{{> toolbar}}

<md-content class="profile-page" layout-padding layout-wrap layout="column">
	<h2>\{{account.username}}</h2>
	<div layout="row">
		<div class="profile-pic-main">
			<img ng-if="account.profilePic" ng-src="\{{img1}}" />
			<img ng-if="!account.profilePic && account.gender == 'M'" src="images/no_pic_male_black_512.png" />
			<img ng-if="!account.profilePic && account.gender == 'F'" src="images/no_pic_female_black_512.png" />
			<img ng-if="!account.profilePic && account.gender == 'O'" src="images/no_pic_other_black_512.png" />
		</div>
		<div layout="column">
			<md-input-container>
				<label>Firstname</label>
				<input ng-model="account.firstname" {{#unless mine}} readonly {{/unless}} />
			</md-input-container>
			<md-input-container>
				<label>Lastname</label>
				<input ng-model="account.lastname" {{#unless mine}} readonly {{/unless}} />
			</md-input-container>
		</div>
	</div>
	{{#if mine}}
        <div>
            <form myForm="upload" >
                <input type="file" ngf-select ng-model="picFile" name="file"
                       accept="image/*" ngf-max-size="1MB" required><br>
                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                <br>
                <md-button class="md-raised md-primary"
                           ng-click="picFile = null" ng-show="picFile">Remove</md-button>
                <md-button class="md-raised md-primary"
                           ng-show="picFile" ng-click="uploadPic(picFile); picFile = null">Submit</md-button>
            </form>
        </div>
        <div layout="column">
            <img id="img1" width="200" height="200" style="border:1px solid" ng-src="\{{img1}}">
            <md-button class="md-raised" aria-label="like" ng-click="deletePic(0)">
                <md-icon md-font-set="material-icons">delete</md-icon>&nbsp Delete
            </md-button>
            <img id="img2" width="200" height="200" style="border:1px solid" ng-src="\{{img2}}">
            <md-button class="md-raised" aria-label="like" ng-click="deletePic(1)">
                <md-icon md-font-set="material-icons">delete</md-icon>&nbsp Delete
            </md-button>
            <img id="img3" width="200" height="200" style="border:1px solid" ng-src="\{{img3}}">
            <md-button class="md-raised" aria-label="like" ng-click="deletePic(2)">
                <md-icon md-font-set="material-icons">delete</md-icon>&nbsp Delete
            </md-button>
            <img id="img4" width="200" height="200" style="border:1px solid" ng-src="\{{img4}}">
            <md-button class="md-raised" aria-label="like" ng-click="deletePic(3)">
                <md-icon md-font-set="material-icons">delete</md-icon>&nbsp Delete
            </md-button>
            <img id="img5" width="200" height="200" style="border:1px solid" ng-src="\{{img5}}">
            <md-button class="md-raised" aria-label="like" ng-click="deletePic(4)">
                <md-icon md-font-set="material-icons">delete</md-icon>&nbsp Delete
            </md-button>
        </div>
        <div layout="row" layout-wrap>
		<md-input-container>
			<label>Email address</label>
			<input ng-model="account.email" />
		</md-input-container>
	</div>
	{{/if}}
	<div layout="column">
		<md-input-container>
			<label>Bio</label>
			<textarea ng-model="account.bio" md-maxlength="150" maxlength="150" {{#unless mine}} readonly {{/unless}}></textarea>
		</md-input-container>
		{{#if mine}}
		<md-input-container>
			<label>Birthdate</label>
			<md-datepicker ng-model="account.birthdate"></md-datepicker>
		</md-input-container>
		{{else}}
		<div style="margin-bottom: 6px;">
			<label>Birthdate: \{{account.birthdateDateString}}</label>
		</div>
		{{/if}}

		{{#if mine}}
		<div>
			<label>Gender</label>
			<md-radio-group ng-model="account.gender">
				<md-radio-button value="M">Male</md-radio-button>
				<md-radio-button value="F">Female</md-radio-button>
				<md-radio-button value="O">Uncategorised mail</md-radio-button>
			</md-radio-group>
		</div>
		<div>
			<label>Looking for</label>
			<div layout="row">
				<md-checkbox ng-model="account.interestedMale">Male</md-checkbox>
				<md-checkbox ng-model="account.interestedFemale">Female</md-checkbox>
				<md-checkbox ng-model="account.interestedOther">Uncategorised mail</md-checkbox>
			</div>
		</div>
		{{else}}
		<div layout="row" style="margin-bottom: 6px;">
			<label>Gender: </label>
			<span class="badge blue" ng-if="account.gender === 'M'">Male</span>
			<span class="badge pink" ng-if="account.gender === 'F'">Female</span>
			<span class="badge yellow" ng-if="account.gender === 'O'">Other</span>
		</div>
		<div layout="row" style="margin-bottom: 6px;">
			<label>Looking for: </label>
			<span class="badge blue" ng-if="account.interestedMale">
				Male<md-tooltip>Seeking a Manly Man</md-tooltip>
			</span>
			<span class="badge pink" ng-if="account.interestedFemale">
				Female<md-tooltip>Seeking a Bonney Las</md-tooltip>
			</span>
			<span class="badge yellow" ng-if="account.interestedOther">
				Other<md-tooltip>Seeking anything from which to gain affection</md-tooltip>
			</span>
		</div>
		{{/if}}

		{{#if mine}}
		<div layout="row">
			<md-input-container flex>
				<label>Intrests</label>
				<md-chips ng-model="account.selectedTags" md-autocomplete-snap md-transform-chip="transformChip($chip, $event)" md-require-match="false" id="chips">
					<md-autocomplete md-selected-item="account.selectedTag" md-search-text="account.searchText" md-items="item in querySearch(account.searchText)" md-item-text="item.name" placeholder="Search for a tag">
						<span md-highlight-text="account.searchText">\{{item.name}} :: \{{item.type}}</span>
					</md-autocomplete>
					<md-chip-template>
						<span>
		          <b>\{{$chip.name}}</b>
		          <em>(\{{$chip.type}})</em>
		        </span>
					</md-chip-template>
				</md-chips>
			</md-input-container>
		</div>
		{{else}}
		<md-input-container>
			<label>Intrests</label>
			<md-chips placeholder="No tags">
				<md-chip ng-repeat="chip in account.selectedTags">
					<span>
						<b>\{{chip.name}}</b>
						<em>(\{{chip.type}})</em>
					</span>
				</md-chip>
			</md-chips>
		</md-input-container>
		{{/if}}

		{{#if mine}}
		<form name="updateChanges" flex layout="column">
			<md-input-container>
				<label>Username</label>
				<input ng-model="account.username" valid-username="" required name="userName" {{#unless mine}} readonly {{/unless}} />
			</md-input-container>
			<md-input-container>
				<label>Old password</label>
				<input type="password" ng-model="account.oldPassword" required>
			</md-input-container>
			<md-input-container>
				<label>New password</label>
				<input type="password" ng-model="account.newPassword">
			</md-input-container>
			<md-input-container>
				<label>New password again</label>
				<input type="password" ng-model="account.newPassword2" ng-pattern="account.newPassword">
			</md-input-container>
			<md-button class="md-raised md-primary" aria-label="register" ng-click="update()" ng-hide="!account.mine">Save</md-button>
		</form>
		{{/if}}
	</div>

	{{#unless mine}}
	<div layout="row">
		<md-button class="md-raised" aria-label="like" ng-click="like()">
			<md-icon md-font-set="material-icons">favorite</md-icon>&nbsp Like
		</md-button>
		<md-button class="md-raised" aria-label="like" ng-click="unlike()">
			<md-icon md-font-set="material-icons">favorite_border</md-icon>&nbsp Unlike
		</md-button>
		<md-button class="md-raised" aria-label="like" ng-click="block()">
			<md-icon md-font-set="material-icons">lock_outline</md-icon>&nbsp Block
		</md-button>
		<md-button class="md-raised" aria-label="like" ng-click="unblock()">
			<md-icon md-font-set="material-icons">lock_open</md-icon>&nbsp Unblock
		</md-button>
		<md-button class="md-raised" aria-label="like" ng-click="chat()">
			<md-icon md-font-set="material-icons">message</md-icon>&nbsp Chat
		</md-button>
	</div>
	{{/unless}}
</md-content>