<!DOCTYPE html>
<h1>{{ title }}</h1>
<p>
	Welcome to {{ title }}
</p>

{{# if user}}
	<p>User exists!</p>
{{ else }}
	<p>Please log in</p>
{{/if}}

<ul>
	{{# each info as |value key| }}
		<li>{{ key }}: {{ value }}</li>
	{{/each}}
</ul>

<ol>
	{{# each numbers}}
		<li>{{ this }}</li>
	{{/each}}
</ol>