<!DOCTYPE html>
<h1>{{ title }}</h1>
<p>
	Welcome to {{ title }}
</p>

{{# if user}}
	<p>User exists!</p>
{{ else }}
	<p>Please log in</p>
{{/if}}

<ul>
	{{# each info as |value key| }}
		<li>{{ key }}: {{ value }}</li>
	{{/each}}
</ul>

<ol>
	{{# each numbers}}
		<li>{{ this }}</li>
	{{/each}}
</ol>

<form action="http://localhost:8080/login" method="post">
	<input type="text" name="username" placeholder="Username" /><br />
	<input type="password" name="password" placeholder="Password" /><br />
	<input type="submit" value="OK" />
</form>